@using Simchas.Models
@model HistoryViewModel

<div class="row header" style="margin-top: 40px">
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tr style="text-align: center; vertical-align: middle;">
                <th style="text-align: center; vertical-align: middle; width: 45%">Type</th>
                <th style="text-align: center; vertical-align: middle;">Date</th>
                <th style="text-align: center; vertical-align: middle;">Amount</th>
            </tr>
            @foreach (Transaction transaction in Model.Transactions)
            {
                <tr>
                    <td>
                        @transaction.Type
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        @transaction.Date.ToLongDateString()
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        @transaction.Amount.ToString("C")
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div style="text-align:center;">
    <a class="btn-lg btn-danger" href="/contributors">Back to Contributors</a>
</div>